<div class="background">
  <div class="login-container">
    <div class="form-box">
      <h1 style="display: flex;justify-content: center;">Iniciar Sesion</h1>

      <input type="email" placeholder="Email" [(ngModel)]="email" />
      <input type="password" placeholder="Password" [(ngModel)]="password" />

      <button class="login-btn" (click)="login()">Iniciar Sesion</button>
      <br>

      <p class="divider">o inicia sesion con</p>
      <div class="social-login">
        <button><i class="pi pi-google"></i></button>
        <button><i class="pi pi-facebook"></i></button>
        <button><i class="pi pi-inbox"></i></button>
      </div>

      <p class="switch">No tienes cuenta? <a (click)="goToRegister()">Registrate</a></p>
      <br>

      <p class="terms">
        Al iniciar sesion, aceptas los <a href="#">Términos de servicio</a> y la <a href="#">Política de privacidad</a> de App Seguridad Zipaquira.
      </p>
    </div>
  </div>
</div>
